
  
  body {
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(60deg, rgb(94, 91, 74), #faca57, #f5c9a8, #faca57, white); */
    background: linear-gradient(75deg, #000000, #fa7304,#863b01 );
  
    background-size: 800% 800%;
    animation: gradientAnimation 7s ease infinite;
    color: #000000;
  }
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  .txt{
  
    font-size: medium;
    position: relative;
  
  }
  
  .container{
    border-radius: 18px;
    border: #000000 solid 4px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
  }
  
  button{
      font-size: 1.5rem;
      padding: 15px 30px;
      border-radius: 12px;
    
  }
  
  
  .btn2{
    background-color: #682f04;
    border: #fff solid 3px;
    size: 2.2rem;
    padding: 10px 10px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .btn2:hover{
    background-color: black;
    transform: scale(1.5);
    border: #682f04 solid 2px;
  }